---
layout: index
title: Home
seotitle: Oklahoma City SEO Experts | Bricktown SEO
permalink: /
---

<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-bolt"></i>
                <h4>Search Engine Optimization</h4>
                <p>We provide the strongest ranking services in the OKC Metro area. We have a strong reputation and provide quality service that allows websites to maintain their ranking consistently.</p>
                <p><br/><a href="/seo/" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-flask"></i>
                <h4>Social Media Management</h4>
                <p>You already are juggling so many things in your business operation, social media should not be something that holds you back. We will manage your Facebook, Twitter, LinkedIn, and other accounts so you can forget about it.</p>
                <p><br/><a href="/social/" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-mobile"></i>
                <h4>Mobile Friendly</h4>
                <p>More than <strong>60%</strong> of the online search engine usages comes from mobile devices. This means you need to be leveraging this knowledge to give your customer the best experience possible. We are mobile friendly, are you?</p>
                <p><br/><a href="/mobile-friendly/" class="btn btn-theme">More Info</a></p>
            </div>		 				
        </div>
    </div><! --/container -->
</div><! --/service -->
{% include testimonial.html %}
<div class="container mtb">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <h4>More About Our Agency.</h4>
            <p>{{ site.about }}</p>
            <p><br/><a href="{{ "/contact/" | prepend: site.baseurl }}" class="btn btn-theme">More Info</a></p>
        </div>

        <div class="col-lg-3">
            <h4>Frequently Asked</h4>
            <div class="hline"></div>
            {% for post in site.categories['question'] %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
            {% endfor %}
        </div>

        <div class="col-lg-3">
            <h4>Latest Posts</h4>
            <div class="hline"></div>
            {% for post in site.categories['blog'] limit:5 %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endfor %} 
        </div>

    </div><! --/row -->
</div><! --/container -->