---
layout: parseHub
title: ParseHUB
seotitle: ParseHUB | Free Online Tools
permalink: /parsehub/
seodesc: This page is intended to collect data from websites.
---


<div class="container mtb" ng-app="ParseHubApp" ng-controller="ParseHubCtrl">

    <div class="row" ng-show="!searching">
    	<div class="col-lg-8 col-lg-offset-2">
			<div class="form-group">
				<label for="parsekey">ParseHUB API Key</label>
				<input type="text" id = "parsekey" ng-change = "onChange()" ng-model = "parsekey" class="form-control">
			</div>
			<div class="form-group">
				<label for="save1">Save Key</label>
				<input type="checkbox" id="save1" ng-click="storeKey()" ng-model="store">
			</div>
			<div class="form-group">
				<label for="parsepkey">ParseHUB Project Token</label>
				<input type="text" id = "parsepkey" ng-change = "onChange()" ng-model="parsekey" class="form-control">
			</div>
			<div class="form-group">
				<label for="save2">Save Key</label>
				<input type="checkbox" id="save2" ng-click="storeKey1()" ng-model="store1">
			</div>
			<div class="form-group">
				<label for="keyword">Keyword</label>
				<input type="text" class="form-control" id="keyword" ng-model="keyword">
				<small>Example: "edmond dentist"</small>
			</div>
			<div class="form-group">
				<label for="region">City, State</label>
				<input type="text" id= "region" class="form-control" ng-model="region">
			</div>
			<button class="btn btn-theme" ng-click="search()">Search</button>
	    </div>
    </div>
	<div class="row" ng-show="searching">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>[[status]]</h2>
		</div>
	</div>

	<div class="row" ng-show="error_message">
		<div class="col-lg-8 col-lg-offset-2">
			<p class="bg-danger">[[error_message]]</p>
		</div>
	</div>

<div class="row" ng-show="complete">
		<div class="col-lg-8 col-lg-offset-2">
			<table class="table">
				<thead><tr><th>Keyword</th><th>City</th><th>Status</th><th>Action</th></tr></thead>
				<tbody>
					<tr ng-repeat="keyword in keywords">
						<td>[[ getKey(keyword,"Keyword") ]]</td>
						<td>[[ getKey(keyword,"City, State") ]]</td>
						<td>[[ getKey(keyword,"Status") ]]</td>
						<td>[[ getKey(keyword,"Action") ]]</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-lg-2">
			<button class="btn btn-theme" ng-click="reset()">New Search</button>
		</div>
	</div>
	<div class="row" ng-show="complete">
		
		<div class="col-lg-2">
			<button class="btn btn-theme" ng-click="reset()">New Search</button>
		</div>
	</div>

</div>