<div id="twrap">
    <div id="twrapback"></div>
    <div class="container centered">
        <div class="row">
            <div class="col-sm-1">
                <h1><i class="fa fa-quote-left"></i></h1>
            </div>
            <div class="col-sm-10">
                <p>{{ site.testimonial.message }}</p>
                <h4><br/>{{ site.testimonial.author }}</h4>
                <p>{{ site.testimonial.position }}</p>
            </div>
            <div class="col-sm-1">
                <h1><i class="fa fa-quote-right hidden-xs"></i></h1>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/twrap -->