<div class="section no-pad-bot" id="index-banner"> <div class="container"> <div class="row"> <div class="col s12"> <hot-table settings="{
				rowHeaders: true, 
				contextMenu: true, 
				afterChange: afterChange
			}" colheaders="true" datarows="db.items" columns="db.dynamicColumns" stretchh="all" minsparerows="0"> </hot-table> </div> </div> <div class="row"> <div class="col s1"><a class="btn-floating btn-large waves-effect waves-light red" ng-click="backWeek()">&larr;</a></div> <div class="col offset-s2 col s1"><a class="btn waves-effect waves-light" ng-click="today()">Today</a> </div> <div class="col offset-s7 s1"><a class="btn-floating btn-large waves-effect waves-light red" ng-click="forwardWeek()">&rarr;</a></div> </div> </div> </div>