<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
        {% include nav.html %}
         
		{% include wrap.html %}    

		    {{ content }}

        {% include footer.html %}
        {% include js.html %}
        <script src="{{ "/assets/js/xdRequest.js" | prepend: site.baseurl }}"></script> 
        <script src="{{ "/assets/js/vendor.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/assets/js/contact.js" | prepend: site.baseurl }}"></script>
        <script type="text/javascript">
            // Parse.initialize("6cBK0M2h4jGUMKopma6QKLlYuER2Gu998d8B3Sxe", "6yPFh3g4rucZWqXQfoHVJJ4BPW6RdJDTxCvSnwwd");
        </script>
    </body>
</html>

